body {
  background-image: url("https://img.freepik.com/premium-photo/dark-gloomy-street-with-tree-middle_564714-57472.jpg?semt=ais_hybrid&w=740&q=80");
  background-color: hsl(211, 9%, 51%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid rgb(219, 152, 152);
  background-image: url("supermarket-interior-shelf_165488-3982.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 {
  border: 1px solid rgb(131, 98, 98);
  border-radius: 30px;
  background-image: url("https://images.wondershare.com/edrawmax/maker2023/crime-scene-investigation/crime-scene-3.jpg");
}


